button {
  padding: 0.5rem 0.85rem;
  border-radius: 3px;
  margin-top: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: unset;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type {
  margin-top: 0;
}

button:first-of-type,
select:first-of-type {
  margin-top: 0;
}

.btnXXSmall {
  font-size: xx-small !important;
}

.btnXSmall {
  font-size: x-small !important;
}

.btnSmall {
  font-size: small !important;
}

.btnMedium {
  font-size: medium !important;
}

.btnLarge {
  font-size: large !important;
}

.btnXLarge {
  font-size: x-large !important;
}

.btnXXLarge {
  font-size: xx-large !important;
}
