@import "./dh-normalize.css";
@import "./dh-flexGrid.css";
@import "./dh-mortar.css";
@import "./dh-panels.css";
@import "./dh-forms.css";
@import "./dh-buttons.css";
@import "./dh-widthsHeights.css";
@import "./dh-hideShow.css";
@import "./dh-text.css";

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

.redline {
  border: 1px solid rgb(255, 70, 70);
  background: pink;
}

.blueline {
  border: 1px solid rgb(59, 59, 255);
  background: rgb(35, 255, 255);
}
