/* NOTES FORM + */
.dh-Form {
  background: white;
  padding: 1em 1.25em;
  border: 1px solid var(--grey-100);
  /* margin-bottom: 1.5em; */
  border-radius: 3px;
}

.dh-Form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dh-Form h4 {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.dh-Form label {
  margin-bottom: 0.75em;
  cursor: pointer;
}

.dh-Form label {
  font-size: 1rem;
  margin: 1rem 0 0;
}

.dh-Form label:first-of-type {
  margin: 0rem 0 0;
}

.dh-Form label:hover input,
.dh-Form label:hover textarea {
  background: rgb(255, 255, 201);
  border-radius: 3px;
}

.dh-Form label:focus input,
.dh-Form label:active input,
.dh-Form label:focus textarea,
.dh-Form label:active textarea {
  background: rgb(255, 255, 201);
}

.dh-Form label input,
.dh-Form label textarea {
  border: 1px solid var(--grey-100);
  margin-top: 0.3em;
  padding: 0.5em 0.75em;
  outline: none;
  font-size: 0.85em;
}

.dh-Form label textarea {
  border: 1px solid var(--grey-100);
  margin-top: 0.3em;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.dh-Form input {
  height: 1.85em;
  border-radius: 3px;
}

.dh-Form label:hover input,
.dh-Form label:hover textarea {
  background: rgb(255, 255, 201);
  border-radius: 3px;
}

.dh-Form input,
.dh-Form textarea {
  border: 1px solid var(--grey-100);
  margin-top: 0.3em;
  padding: 0.5em 0.75em;
  outline: none;
  font-size: 0.85em;
}

.dh-Form textarea {
  border: 1px solid var(--grey-100);
  margin-top: 0.3em;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.dh-Form button {
  padding: 0.5em 0.9em 0.5em;
  font-size: 0.9em;
  float: right;
  /* background: rgb(241, 241, 241); */
  /* border-radius: 3px; */
  /* outline: none; */
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

.dh-Form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

select option {
  text-transform: uppercase !important;
}
