.toLowerC {
  text-transform: lowercase !important;
}

.toUpperC {
  text-transform: uppercase !important;
}

.toCapitalize {
  text-transform: capitalize !important;
}

.toInitialCase {
  text-transform: initial !important;
}
