@import "./colors.css";
@import "./dh-common/dh-common.css";
@import "./tyography.css";
@import "./header-footer.css";
@import "./grid.css";
@import "./cohort.css";
@import "./student.css";

:root {
  --margin: 0;
  --padding: 0;
  --bodyFont: "Alegreya", serif;
}

::selection {
  color: #000;
  background: #fbd404;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
  background: #eaeaea;
}

.container {
  margin: 0 auto;
  padding: 0em;
  min-width: 320px;
}

main {
  padding: 1em;
  padding: 5em 1em 3em;
}

button {
  font-weight: 100;
  color: var(--white);
  background: dimgrey;
  border: none;
}

button:hover {
  color: var(--white);
  background: rgb(44, 44, 44);
}

.contentGrid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
}
